/* Universal margin and padding reset */
* {
  margin: 0;
  padding: 0;
}

/* Body style */
body {
  background-color: blanchedalmond;
}

/* Start page style */
#startPage {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: fixed;
  justify-content: center;
  align-items: center;
  background-color: blanchedalmond;
  z-index: 1;
  cursor: default;
  transition: visibility 1s, opacity 1s linear;
}

/* Hides start page on game start */
#startPage.hidden {
  visibility: hidden;
  opacity: 0;
}

/* Heading style */
.cursive-heading {
  font-family: 'Pacifico', cursive;
  font-size: 8rem;
  text-align: center;
  color: white;
  -webkit-text-stroke: .3rem rgb(204, 227, 236);
  cursor: default;
  margin-bottom: 3rem;
}

/* Label text style */
.info-text {
  font-family: 'Paytone One', sans-serif;
  color: rgb(204, 227, 236);
  width: auto;
  height: 2.5rem;
  background-color: rgb(255, 255, 255, .6);
  border-radius: 1.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1.75rem;
}

/* Settings menu style */
#settingsMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  transition: transform .75s, opacity 1s;
  margin-top: 1rem;
  margin-bottom: 0;
}

/* Hides settings menu */
#settingsMenu.menu-hidden {
  transform: translate(0,  -50%);
  opacity: 0;
  transition: transform .75s, opacity .5s;
}

/* numCardsLabel style */
#numCardsLabel {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

/* numCards style */
#numCards {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  color: rgb(204, 227, 236);
}

/* Add/subtract cards button style */
#subtractCardsBtn, #addCardsBtn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

/* Settings menu font awesome icon style */
#settingsMenu i {
  color:rgb(204, 227, 236);
  font-size: 0.8em;
}

/* Start page button wrapper */
#startPageControls {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 2rem;
}

/* Start page button style */
#startPageControls button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 50%;
  font-size: 1.75rem;
  background-color: rgb(204, 227, 236);
  border: none;
  color: white;
}

/* Play transition effect */
#playBtn {
  transition: box-shadow .25s;
}

/* Translate play button icon so it's centered */
#playBtn .play-btn-icon {
  transform: translate(8%, 0);
}

/* Settings button transition effect */
#settingsBtn {
  transition: box-shadow .25s, transform .75s;
}

/* Settings button spin effect */
#settingsBtn.settings-spin {
  transform: rotate(360deg);
  transform-origin: center;
}

/* Win screen style */
#winScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  background-color: blanchedalmond;
  cursor: default;
  transition: visibility 1s, opacity 1s linear;
}

/* Show win screen */
#winScreen.show {
  visibility: visible;
  opacity: 1;
}

/* Replay button style */
#replayBtn {
  font-family: 'Paytone One', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  font-size: 1.75rem;
  background-color: rgb(204, 227, 236);
  border: none;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 2.5rem;
  border-radius: 1.25rem;
}

/* Game container */
#gameWrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding-top: 10vh;
  padding-bottom: 10vh;
  align-items: center;
  box-sizing: border-box;
}

/* Score container */
#gameScoreBoard {
  gap: 2.5rem;
}

/* Score text wrapper */
.score-text-wrapper {
  display: flex;
}

/* Game with grid of cards */
#game {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  margin-top: 1rem;
}

/* Space for flipping card */
.card-space {
  display: inline-block;
  width: 6.5rem;
  height: 6.5rem;
  perspective: 13rem;
}

/* Card style */
.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform .5s;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  background-color: white;
  border-radius: 20%;
}

/* Card face style */
.card-face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: inherit;
  border: .4rem solid white;
  box-shadow: 0 0 .4rem rgb(215, 198, 173);
  box-sizing: border-box;
}

/* Card front face */
.card-front {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(204, 227, 236);
  color: white;
  font-size: 1.25rem;
}

/* Card back face */
.card-back {
  transform: rotateY(180deg);
}

/* Flips card over */
.card.flipped-over {
  transform: rotateY(180deg);
}

/* Settings menu button hover effect */
#subtractCardsBtn:hover i, #addCardsBtn:hover i {
  color: rgb(204, 227, 236, .75);
}

/* Start and win screen button hover effect */
#startPageControls button:hover, #replayBtn:hover {
  background-color: rgb(204, 227, 236, .75);
  box-shadow: 0 0 .4rem rgb(215, 198, 173);
}

/* Card hover effect */
.card-front:hover {
  background-color: rgb(204, 227, 236, .75);
}

/* Rules for smaller screens */
@media screen and (max-width: 768px) {
  #startPage .cursive-heading {
    font-size: 5.5rem;
    -webkit-text-stroke: .2rem rgb(204, 227, 236);
    margin-bottom: 1.75rem;
  }

  #bestScoreLabel {
    font-size: 1.5rem;
  }

  #settingsMenu {
    font-size: 1.25rem;
  }

  #numCards {
    width: 2.25rem;
  }

  #winScreen .cursive-heading {
    font-size: 4.5rem;
    -webkit-text-stroke: .2rem rgb(204, 227, 236);
    margin-bottom: 1.75rem;
  }

  #winMsg {
    font-size: 1.25rem;
  }

  #gameWrapper .info-text {
    height: 2rem;
    font-size: 1rem;
  }

  #game {
    gap: 1rem;
  }

  .card-space {
    width: 4.25rem;
    height: 4.25rem;
  }

  .card-face {
    border: .3rem solid white;
  }

  .card-front {
    font-size: 1rem;
  }
}